* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    color: #fff;
    background-image: url(/_development/wp-content/themes/Divi/images/cadelplast/background.png);
    background-repeat: repeat-y;
    background-size: 100%;
    background-position: top;
    background-color: #001947;    
}

.image-container,
.process,
.content {
    position: relative;
}

.image-container .content img {
    max-width: 100%;
    display: block;
    margin: 0 0 0 auto;
}

.image-container.header {
    padding-bottom: 69px;
    padding-left: 80px; 
}

.image-container.header .content {
    background-image: url(/_development/wp-content/themes/Divi/images/cadelplast/cadelplast.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: 0 0 139px rgba(0, 0, 0, 0.2);
}
.email {
    position: absolute;
    top: 45px;
    right: 45px;
}
.side-bar {
    width: 80px;
    height: 100%;
}

.follow-up {
    position: absolute;
    bottom: 120px;
    left: 0;
}

.follow-up img {
    display: block;
    margin: 0 auto;
}

.follow-up h3 {
    font-size: 12px;
    font-weight: 400;
    transform: rotate(-90deg);
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0 0 100px 0;
}
.back {
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 10;
    width: 80px;
    text-align: center;
}
.back img {
    width: 30px;
    height: 30px;
}
.presentation-text {
    padding-top: 720px;
    padding-left: 140px;
    padding-bottom: 61px;
    width: 980px;
}
@media only screen and (max-width: 1440px) {
    .presentation-text {
        padding-top: 560px;
    }
}
.presentation-text h1 {
    font-size: 26px;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}
.presentation-text p {
    font-size: 16px;
    line-height: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.services {
    padding-left: 80px;
    margin: 120px 0;
}
.services .content {
    background-image: url(/_development/wp-content/themes/Divi/images/cadelplast/services.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 882px;
}

.services .follow-up {
    width: 80px;
    bottom: 51px;
}

h2 {
    color: #f5f5f5;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 40px 0;
}

.vision,
.wrapper {
    width: 1177px;    
    margin: 0 auto;    
}
.values-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.values-list li {
    width: 379px;
    height: 467px;
    background-color: #fff;
    color: #0c2539;
    padding: 40px 20px 0 40px;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.02);
}
.values-list li:before,
.carousel-list li:before {
    content: '';
    width: 39px;
    height: 39px;
    position: absolute;
    top: 172px;
    left: -19px;
    background-image: url(/_development/wp-content/themes/Divi/images/cadelplast/diamond.png)
}
.values-list p {
    color: #677278;
    font-size: 13px;
    line-height: 24px;
}
.values-list img {
    display: block;
    margin: 0 auto;
}

h4 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 60px 0 20px 0;
}
.process {
    position: relative;
    padding: 126px 80px 148px 80px;
}
.process .follow-up {
    bottom: 40%;
    width: 80px;
}
.process .follow-up h3 {
    margin: 0;
}
.process h2 {
    text-transform: none;
    font-size: 26px;
    line-height: 54.1px;
}
.process .content p {
    color: #d6d6d6;
    font-size: 16px;
    line-height: 24.98px;
}
.carousel {
    overflow: hidden;
}
.carousel-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    transform: translateX(-80%);
    transition: transform 1s linear;
}
.carousel h4 {
    color: #f5f5f5;
    font-size: 26px;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 30px;
}
.carousel p {
    line-height: 25px;
    font-size: 16px;
    color: #d6d6d6;
}
@media only screen and (min-width: 1439px) {
    .carousel-list {
        transform: translateX(-65%);
    }
}
@media only screen and (min-width: 1599px) {
    .carousel-list {
        transform: translateX(-45%);
    }
}
@media only screen and (min-width: 1900px) {
    .carousel-list {
        transform: translateX(-25%);
    }
}
.carousel-list.scrolled {
    transform: translateX(10%);
}
.carousel-list li {
    margin-right: 20px;
    position: relative;
}
.carousel-list li:before {
    top: 214px;
}
.carousel-list li:last-child {
    margin-right: 0;
}
.carousel-list .arrow-left,
.carousel-list .arrow-right {
    cursor: pointer;
}
.carousel-list li:last-child .arrow-right {
    padding-left: 80px;
    height: 100%;
    display: flex;
    align-items: center;
}
.carousel-list li:first-child .arrow-left {
    padding-right: 100px;
    height: 100%;
    display: flex;
    align-items: center;
}
.carousel-list li:first-child img {
    transform: rotate(180deg);
}
.carousel-list li:first-child:before,
.carousel-list li:last-child:before {
    background-image: none;
}
.suppliers {
    display: flex;
    justify-content: flex-end;
    background-image: url(/_development/wp-content/themes/Divi/images/cadelplast/suppliers.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 125px 0;
    margin-bottom: 120px;
}
.supplies-text {
    width: 380px;
    margin-right: 260px;
}
.supplies-text h3 {
    font-size: 40px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 36px;
    margin-top: 0;
}
.supplies-text p {
    font-size: 16px;
    line-height: 25px;
    color: #d6d6d6;
    margin: 0;
}
.supplies-text .text-wrap.first {
    margin-bottom: 92px;
}
.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
}
.offer-form {
    position: relative;
    width: 583px;
}
.footer-form {
    position: relative;
    z-index: 1;
    padding: 62px 47px 53px 37px;
}
.footer-bg {
    background-color: #ffffff;
    background-image: linear-gradient(45deg, rgba(0, 24, 69, 0.79) 0%, rgba(53, 45, 89, 0.79) 50%, rgba(0, 24, 69, 0.79) 100%);
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer h4,
.footer h5 {
    font-size: 26px;
    letter-spacing: 0.78px;
    text-transform: uppercase;
    line-height: 28.24px;
    font-weight: 400;
    margin: 0 0 60px 0;
}
.footer-form h4 {
    font-weight: 700;
}
.footer-form .form-group {
    margin-bottom: 26px;
}
.footer-form button {
    font-size: 16px;
    line-height: 28.24px;
    letter-spacing: 0.16px;
    padding: 9px 0;
    background-color: #ff2b4a;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    display: block;
    margin-left: auto;
    width: 205px;
    box-shadow: none;
    text-align: center;
}
.footer-form button:hover {
    background-color: #7b0012;    
}
.footer-form input,
.footer-form textarea {
    padding: 18px 20px;
    color: #fff;
    font-size: 12px;
    width: 100%;
    outline: none;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    resize: none;
}
.footer-form input::-webkit-input-placeholder,
.footer-form textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.6);
}
.footer-form input::-moz-placeholder,
.footer-form textarea::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,0.6);
}
.footer-form input:-ms-input-placeholder,
.footer-form textarea:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,0.6);
}
.footer-form input:-moz-placeholder,
.footer-form textarea:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,0.6);
}
.box {
    position: relative;
    padding: 67px 0 57px 42px;
    margin-bottom: 5px;
}
.last-box {
    margin-bottom: 0;
}
.contact {
    width: 583px;
}
.contact p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
    opacity: 0.7;
    margin: 0;
    line-height: 30.26px;
}
.contact h5 {
    margin-bottom: 36px;
}